.formulario {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  min-width: 25rem;
  max-width: 50rem;
  width: 100%;
  padding: 3rem;
  margin: 0 2rem;
  border-radius: .5rem;
  box-shadow: 0 .4rem .4rem 0 var(--sombra);
  backdrop-filter: blur(1rem);
  background-color: var(--branco);
  align-items: center;
}

.formulario__titulo {
  color: var(--cor-principal);
  font-size: 2.4rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 2rem;
}

.formulario__container {
  width: 100%;
}

.formulario__fields {
  display: flex;
  flex-direction: column;
}

.formulario__wrap {
  position: relative;
  margin-bottom: 2rem;
}

.formulario__wrap:last-of-type {
  margin-bottom: 1rem;
}

.formulario__ipt {
  border: 0;
  border-bottom: .1rem solid var(--cor-principal);
  width: 100%;
  padding: 1rem 1rem .5rem .25rem;
  background: none;
}

.formulario__etq {
  font-size: 1.6rem;
  position: absolute;
  top: 0;
  left: 0;
  font-weight: bold;
  transition: transform .5s, color .5s;
}

.formulario__ipt:focus, .formulario__ipt:valid {
  outline: 0;
  background: none;
}

.formulario__ipt:focus~.formulario__etq,
.formulario__ipt:valid~.formulario__etq,
.formulario__etq--ativo {
  color: var(--cor-principal);
  transform: translateY(calc(-70%));
  background: none;
}

.formulario__btn {
  background-color: var(--cor-principal);
  color: var(--branco);
  align-self: flex-start;
  font-size: 1.6rem;
  padding: 1rem 1.75rem;
  border-radius: .25rem;
  outline: 0;
  border: 0;
  font-weight: bold;
  transition: background-color .5s;
}

.formulario__btn:hover {
  cursor: pointer;
  background-color: var(--cor-principal-escura);
}

.formulario__btn--alt {
  margin-top: 2rem;
}

.formulario__erro {
  font-size: 14px;
  margin: .5rem 0;
  color: red;
  display: inline-block;
}

@media screen and (min-width: 834px) {
  .formulario__titulo {
    font-size: 3.6rem;
  }
}

@media screen and (min-width: 1440px) {}